<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<div class="container my-3" layout:fragment="main-content">
  <!-- 게시글 영역 -->
  <h2 th:text="${board.getTitle()}" class="border-bottom py-2"></h2>
  <div class="card text-bg-light my-3">
    <div class="card-body">
      <div th:text="${board.getContent()}" class="card-text"></div>
      <div class="d-flex justify-content-end">
        <div class="badge bg-success p-2">
          <div th:text="${#temporals.format(board.getCreateDate(), 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 댓글 리스트-->
  <h5 th:text="|${#lists.size(board.replies)} 개의 댓글이 존재합니다.|" class="border-bottom my-3 py-2"></h5>
  <div th:each="reply :${board.replies}" class="card border-success shadow my-3">
    <div class="card-body">
      <div th:text="${reply.content}" class="card-text"></div>
      <div class="d-flex justify-content-end">
        <div class="badge bg-success p-2">
          <div th:text="${#temporals.format(board.getCreateDate(), 'yyyy-MM-dd HH:mm')}"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- 댓글 기능 영역-->
  <form th:action="@{|/reply/create/${board.getBno()}|}" th:object="${replyForm}" method="post" class="my-3">
    <div th:replace="~{errors :: formErrorFragment}"></div>
    <textarea th:field="*{content}" rows="10" class="form-control"></textarea>
    <div class="d-flex justify-content-end mt-2">
      <a href="/board/list" class="btn btn-secondary mx-1 btn-sm">목록</a>
      <input type="submit" value="댓글등록" class="btn btn-primary btn-sm">
    </div>
  </form>
</div>
</html>