<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<div layout:fragment="main-content" class="container my-3">
  <h2>게시판 목록</h2>
  <hr>
  <table class="table table-success table-striped">
    <thead class="table-dark">
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board, loop : ${paging}">
      <td th:text="${paging.getTotalElements()-(paging.number * paging.size)-loop.index}"></td>
      <td>
        <a th:href="@{/board/detail/{boardId}(boardId=${board.getBno()})}" th:text="${board.getTitle()}"></a>
        <span th:if="${#lists.size(board.replies) > 0}" th:text="${#lists.size(board.replies)}" class="badge text-bg-success">Success</span>
      </td>
      <td th:text="${#temporals.format(board.getCreateDate(), 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
  </table>
  <!-- 페이징 시작-->
  <nav th:if="${!paging.isEmpty()}" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li th:classappend="${!paging.hasPrevious()} ? disabled" class="page-item">
        <a th:href="@{|?page=0|}" class="page-link">&lt;&lt;</a>
      </li>
      <li th:classappend="${!paging.hasPrevious()} ? disabled" class="page-item">
        <a th:href="@{|?page=${paging.number-1}|}" class="page-link">&lt;</a>
      </li>
      <li th:each="page : ${#numbers.sequence(0, (paging.totalPages)-1)}"
          th:if="${page >= (paging.number)-5 and page <= (paging.number)+5}"
          th:classappend="${page == paging.number} ? active"
          class="page-item">
        <a th:href="@{|?page=${page}|}" th:text="${page}+1" class="page-link"></a>
      </li>
      <li th:classappend="${!paging.hasNext()} ? disabled" class="page-item">
        <a th:href="@{|?page=${paging.number+1}|}" class="page-link">&gt;</a>
      </li>
      <li th:classappend="${!paging.hasNext()} ? disabled" class="page-item">
        <a th:href="@{|?page=${(paging.getTotalPages())-1}|}" class="page-link">&gt;&gt;</a>
      </li>
    </ul>
  </nav>
  <!-- 페이징 끝 -->
  <div class="d-flex justify-content-end">
    <a th:href="@{/board/create}" class="btn btn-sm btn-primary my-2">게시글 등록</a>
  </div>
</div>
</html>